---
title: 'Julian In Purgatory | '
---

<div class='page-wrap'>
  <div class='page-view'>
    <div class='row'>

   	  <div><%= image_tag '/images/cover-large-julian.jpg' %> 	</div>
  
      <div class="container">
        <article class="post">
        </article>
      </div>        

      <div class="buttons">
        <div class="button right">  
          <%= link_to 'Next Page', '1.html', :class => "pagination pagination__next" %>
        </div>  
      </div>  

      <p class="center">Stay tuned for more information about this book, and see in-progress shots & updates on my 
        <%= link_to 'Instagram!', 'https://www.instagram.com/ohioisforsale/', :target => '_blank' %>
      </p>


      <div class="button styled-button">
        <%= link_to 'Index', '/chapterindex.html' %>
      </div>      

       
    </div>    
  </div>  
</div>   