---
title: 'About | '
hide_from_sitemap: true
---

<div class='page-wrap'>
	<div class='row'>

		<div class='page-view'>
			<h1>About <em>The Lonesome Era</em></h1>

			<hr>
			<h2>The town of Piney Bluff sits in the Rust Belt of northeastern Ohio, hollowed out by the collapse of the steel industry.</h2>

			<p>Jobs are scarce, people have left, and abandoned factories are scattered across the landscape. To the kids growing up there, the town seems desolate and directionless.</p>

			<p>Camden is a quiet and studious high school student in Piney Bluff. His best friend Jeremiah is a terrible influence — he’s wild and unsupervised, turning Camden on to weed, alcohol, and death metal. Together they skateboard around town, hang out in parking lots, and get into trouble.</p>

			<p>As summer is turning into autumn, Camden is realizing that his feelings for his friend aren’t as simple as they used to be. But as far as he knows, Jeremiah’s not gay — and doesn’t know that Camden is. Camden’s worried about what would happen if Jeremiah found out. Despite how long they’ve known each other, he’s not sure if he can really trust his friend.</p>

			<hr>

			<p><em>The Lonesome Era</em> will be published by Iron Circus comics in 2019.</p>

		</div>
	</div>
</div>