---
title: 'The Lonesome Era | '
---

<div class='page-wrap'>
  <div class='row'>

    <div class='page-view'>
      <% link_to '/lonesome-era/1/001/' do %>
  		<%= image_tag '/images/lonesome-era/cover-600.jpg', :class=>'' %>
      <% end %>  
    </div>  
  

    <div class="preload"><%= link_to '', '001' %></div>
  </div>  
</div>  