@import "reset";

$primary-color: #efeee6;
$font-stack:    'Helvetica', sans-serif;
$header-height: 60px;
$page-margin: 1.5rem;
$button-yellow: #e6d03a;

@mixin transition {
	-webkit-transition: all .25s ease-out;
	-o-transition: all .25s ease-out;
	transition: all .25s ease-out;
}

//* {background-color: rgba(255,0,0,0.3);}

/*===========================================================
#flex
===========================================================*/

@mixin flexbox {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center
}

.flex--center {
	@include flexbox;
	align-items: center;
}

.flex--stretch {
	@include flexbox;
	align-items: stretch;
}

body {
	background-color: #fff;
	font: 100% $font-stack;
	font-weight: 200;
	font-size: 14px;
}
.bg-wrap {
	display: block;
	width: 100%;
	max-width: 100%;	
	margin-top: 60px;
	position: relative;
}
.bg-inner-wrap {
	/*padding: $page-margin;*/
	padding-top: 1px;
}
.button-container {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.button-container .button {
	text-align: center;
	margin: 0 auto;
	background-color: $button-yellow;
}
.button-container .button a {
	@include transition;
	padding: 1rem 1.5rem;
	display: block;
	color: #000;
	font-weight: bold;
	font-size: 24px;
	text-transform: uppercase;
	&:hover {
		background-color: black;
		color: #e6d03a;
	}
}
.bg-img {
	display: block;
	height: 100%;
	width: 100%;
}
.bg { 
  height: 100%;
  width: 100%;
  position: fixed;
  background: url('../images/landscape_small_gray.jpg') no-repeat top 60px center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
a {
	color: #666;
	text-decoration: none;
}
p a {
	text-decoration: underline;
}
.row {
	margin: 2em 0;
	display: block;
}
.outer-wrap {
	position: relative;
	min-height: 100vh;
	overflow-x: hidden;
}
.inner-wrap {
	width: 100%;
	min-height: 100vh;
	overflow-y: hidden;
	@include transition; 	
}
.flex-wrap {
	min-height: 100vh;
	display: flex;
	align-items: stretch;
	flex-direction: row-reverse;
}
.page-wrap {
	display: block;
	padding: 0 $page-margin;
	margin: 0 auto;
}
.page-wrap img {
	// border: 1px solid #ddd;
	// padding: 2px;
}
#header {
	position: absolute;
	width: 100%;
	height: $header-height;
	border-bottom: 1px solid #ddd;
}
.header-push {
	height: 60px;
}
#main {
	// overflow-y: hidden;
}
.chapter-index {
	width: 1056px;
	margin-left: auto;
	margin-right: auto;
}
.page-view {
	text-align: center;
	width: 100%;
	
	// max-width: 600px;
	margin: 60px auto 0;
	display: inline-block;
}
.page-view h1 {
	text-align: left;
	max-width: 600px;
	font-size: 2rem;
	font-weight: 400;
	margin-bottom: 3rem;
	em {
		font-weight: 800;
		font-style: italic;
	}
}
.page-view h2 {
	max-width: 600px;
	text-align: left;
	font-size: 1rem;
	font-weight: bold;
	margin-bottom: 1rem;
}
.page-view p {
	max-width: 600px;
	text-align: left;
	em {
		font-style: italic;
	}
}
.page-view span {
	display: block;
	text-align: right;
	font-size: 12px;
}
.page-view img {
	width: 100%;
	height: 100%;
}
p {
  margin-bottom: 1em;
}
.strong {
  font-weight: 800;
}
#sidebar {
	width: 300px;
	background-color: #222;
	display: inline;
	float: left;
	// padding: $page-margin;
	margin-top: 60px;
}
#sidebar h2 {
	color: #fff;
	padding: 8px 0;
	font-size: 16px;
	font-weight: bold;
}

#sidebar li, .nav-buttons li {
	margin: 0 0 -1px 0;
	display: block;
	float: none;
	@include transition;
	padding-left: 1rem;
	font-size: .875rem;
	font-weight: 400;
	/*text-transform: uppercase;*/
}
#sidebar li:hover {
	background-color: #444;
}
#sidebar li.selected {
	border-left: .3rem solid #444;
	padding-left: .7rem;
}
#sidebar hr {
	margin-bottom: 1px;
	border-top: 1px solid #5d5d5d;
}
#sidebar li a {
	display: block;
	padding: 16px 24px;
	color: #c4c4c4;
}

#sidebar a {
	color: #fff;
	text-decoration: none;
}
.nav-buttons {
	display: none;
}
#logo {
	float: left;
}
#logo img {
	height: 24px;
	width: 306px;
	margin-top: ($header-height - 24px) / 2;
}
#logo.vl {
	background: #fff;
	margin-top: 24px;
}
#logo h1 {
	font-size: 36px;
	color: #ddd;
	line-height: 36px;
}
nav {
	float: right;
}
nav li {
	list-style: none;
	line-height: 18px;
	margin-top: ($header-height - 18px) / 2;
	margin-left: 36px;
	display: inline;
	float: left;
}
nav li a {
	color: #515151;
	text-decoration: none;
}
nav li a:hover {
	text-decoration: underline;
}
#offcanvas {
	background-color: #222;
	height: auto;
	min-height: 100%;
	z-index: 100;
	position: absolute;
	right: 0;
	width: 250px;
	margin-right: -250px;
	@include transition; 	
}
#offcanvas.active {
	margin-right: 0px;
}
.inner-wrap.active {
	margin-left: -250px;
}
#offcanvas li {
	margin: 0 0 -1px 0;
	display: block;
	float: none;
	@include transition;
}
#offcanvas li:hover {
	background-color: #444;
}
#offcanvas hr {
	margin-bottom: 1px;
	border-top: 1px solid #5d5d5d;
}
#offcanvas li a {
	display: block;
	padding: 12px 24px;
	color: #fff;
}
#offcanvas li.secondary {
	padding-left: 1rem;
}
#offcanvas li.secondary a {
	color: #c4c4c4;
}
.chapter-panel {
	// border: 2px solid #000;
	margin: $page-margin / 2;
	display: inline;
	float: left;
}
.section {
	height: 240px;
	width: 240px;
	display: inline;
	float: left;
}
.chapter-panel img {
	border-radius: 4px;
}
.chapter-panel .section img:hover {
	@include transition;
	height: 246px;
	width: 246px;
	margin-top: -3px;
	margin-left: -3px;
}
.section label {
	color: #fff;
	font-weight: bold;
	font-size: 1.4em;
	line-height: 1.4em;
	margin: 42px auto;
	text-align: center;
	display: block;
}
.buttons {
	max-width: 600px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.button {
	display: inline;
}
.button a {
	@include transition;
	&:hover {color: black;}
}
.button.left::before {
	content: "\00ab";
}
.button.right::after {
	content: "\00bb";
}
h1 {
	margin: 1rem 0;
	text-align: center;
	font-weight: 800;
	font-size: 1.5rem;
}
.nav-buttons {
	display: flex;
	justify-content: stretch;
}
.nav-button {
	@include transition;
	padding: 3rem 0;
	color: #000;
	background-color: #ffea2a;
	width: 100%;
	/*margin: 0 4px;*/
	text-align: center;
	/*background-color: #fff;*/
	/*border: 1px solid #ccc;*/
	float: left;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 1.5rem;
	border-radius: 3px;
	/*box-shadow: 2px 2px 5px #ccc;*/
	&:hover {
		background-color: #fdab55;
		border: 1px solid #fdab55;
		color: #fff;
	}	
/*	&:first-child {margin-left: 0;}
	&:last-child {margin-right: 0;}*/
}
.column {
	width: 50%;
	display: inline;
	padding-bottom: .5rem;
}
.column-inner.left {
	width: 30%;
}
.column-inner.right {
	width: 70%;
}
.img-resize {
	height: 100%;
	width: 100%;
}
.left {float: left;}
.right {float: right;}
.center {margin: 0 auto ; text-align: center;}
.clear {
	clear: both;
}
hr {
	margin: 0 0 1rem 0;
	border-top: 1px solid #ddd;
	border-bottom: none;
}
.text-wrap {
	padding: 0 1rem;
}
h2.strong {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 1rem;
	color: #000;
}
.mail-box {
	padding: 24px;
	border: 1px solid #ddd;
	margin: -46px auto 0 -124px;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 200px;
	text-align: center;
}
footer {
	display: block;
	padding: 1rem $page-margin;
	border-top: 1px solid #ddd;
}
@media only screen and (max-width : 960px) {
	/** {background-color: rgba(255,0,0,0.3);}*/
	// #logo {margin: 28px;}
	.flex-wrap {
		display: initial;
	}
	.page-view img {
		max-width: 600px;
	}
	#sidebar {
		width: 100%;
		margin-top: 0;
		padding-bottom: 6rem;
	}
	#sidebar ul {

	}
	#header nav ul li {display: none;}
	#header .offcanvas ul li {display: block;}
	#hamburger {
	    cursor: pointer;
	    display: inline;
	    float: right;
	    // height: 1.5em;
	    padding: 18px 0;
	    width: 1.5em;
	}
	#hamburger:hover {
		// background-color: #f4f4f4;
	}
	#hamburger div {
	    background-color: #000;
	    border: 1px solid #000;
	    // border-radius: 0.125em;
	    // height: 0.125em;
	    margin-top: 0.375em;
	    width: 90%;
	}
	.column-outer {
		width: 100%;
		display: block;
		padding-bottom: 1rem;
	}	
	.nav-buttons {
		display: block;
		justify-content: initial;
	}
	.nav-button {
		display: block;
		width: 100%;
		text-align: center;
		padding: .5rem 0;
		margin: 0 0 6px 0;
	}
}
@media only screen and (max-width : 1055px) {
	.chapter-index {
		max-width: 792px;
	}
}
@media only screen and (max-width : 791px) {
	.chapter-index {
		max-width: 528px;
	}
}
@media only screen and (max-width : 527px) {
	.chapter-index {
		max-width: 288px;
	}
	#logo img {
		max-width: 217px;
		max-height: 17px;
		margin-top: ($header-height - 17px) / 2;
	}
	.section img {
		max-width: 300px;
	}
	.chapter-panel {
		display: inline-block;
		float: none;
		margin: $page-margin / 2 auto;
	}
	.inner-wrap, .outer-wrap {
		// height: auto;
		// min-height: auto;
	}
	.bg-inner-wrap {
		padding: 0;
	}
	.column, .column-inner.left, .column-inner.right {
		width: 100%;
		display: block;
		padding-bottom: 1rem;
	}	
	.text-wrap {
		padding: 0;
	}
	.button-container .button a {
		font-size: 24px;
		padding: .75rem;
	}
}	