@import "reset";

$primary-color: #efeee6;
$font-stack: 'Helvetica', sans-serif;
$header-height: 60px;
$page-margin: 1.25rem;
$color-yellow: #f6bc45;
$color-orange: #f08900;
$button-action: $color-yellow;

/*===========================================================
#mixins
#flex
#body
#buttons
#header
#page
#text
#components
#sidebar
#nav
#offcanvas
#chapter-index
#media-queries
===========================================================*/

/*===========================================================
#mixins
===========================================================*/

@mixin transition {
	-webkit-transition: all .25s ease-out;
	-o-transition: all .25s ease-out;
	transition: all .25s ease-out;
}
@mixin flexbox {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center
}

/*===========================================================
#flex
===========================================================*/

.flex--center {
	@include flexbox;
	align-items: center;
}

.flex--stretch {
	@include flexbox;
	align-items: stretch;
}

/*===========================================================
#body
===========================================================*/

body {
	background-color: #eceef0;
	font: 100% $font-stack;
	font-weight: 200;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
}
.bg-wrap {
	display: block;
	width: 100%;
	max-width: 100%;	
	margin-top: 60px;
	position: relative;
}
.bg-inner-wrap {
	padding: $page-margin;
	margin-bottom: $page-margin * 2;
}
.bg-img {
	display: block;
	height: 100%;
	width: 100%;
}
.bg { 
  height: 100%;
  width: 100%;
  position: fixed;
  background: url('../images/landscape_small_gray.jpg') no-repeat top 60px center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-inner-wrap {
	background: url('../images/banner-6-4-7.gif') no-repeat top center;
	background-size: cover;
	min-height: 480px;
	display: block;
	width: 100vw;
	margin-top: -40px;

}
#main {
	/*padding-top: 100px;*/
	min-height: 100vh;
	/*background-color: red;*/
}
.row {
	/*margin: 2em 0;*/
	/*display: block;*/
	display: inline-block;
	width: 100%;
}

.title-row {
	display: flex;
	align-items: stretch;
	clear: both;
}

.content-row {
	display: flex;
	align-items: stretch;
	clear: both;
	/*justify-content: center;*/
	/*align-content: space-around;*/
	/*margin-top: $page-margin * 2;*/
	margin-bottom: $page-margin * 2;
}
.outer-wrap {
	position: relative;
	min-height: 100vh;
	overflow-x: hidden;
}
.inner-wrap {
	width: 100%;
	min-height: 100vh;
	overflow-y: hidden;
	@include transition; 	
}
.flex-wrap {
	min-height: 100vh;
	display: flex;
	align-items: stretch;
}
.page-wrap {
	display: block;
	padding: 0 $page-margin * 2;
	margin:  auto;
}
.page-wrap.about {
	max-width: 48%;
	margin: 0 auto;
}
.top {
	display: block;
	height: 100px;
}
.column {
	margin: 0 2% 0 0;
	width: 32%;
	display: flex;
	align-items: stretch;
	flex-direction: column;
	&:last-child {
		margin: 0;
	}	
	/*width: 30%;*/
/*	display: inline;
	float: left;*/
	/*padding-bottom: $page-margin / 2;*/
}
.column-double {
	width: 66%;
}
.column-outer {
	width: 50%;
	display: inline-block;
}
.portrait {
	float: left;
	display: inline;
	width: 144px;
	padding: $page-margin/2;
	border-radius: 6px;
	background-color: #fff;
	border: 1px solid #cdcdcd;
	margin-right: $page-margin;
	margin-bottom: $page-margin;
	box-shadow: 2px 2px 6px #ededed;
	img {
		height: 144px;
		width: 144px;
		display: block;
		margin-bottom: 8px;
	}
	label {
		font-size: 16px;
		display: block;
		font-weight: 600;
	}
}
.portrait.portrait-right {
	float: right;
	margin-right: 0;
	margin-left: $page-margin;
}
.link-card {
	@include transition;
	border-radius: 6px;
	/*margin: 0 $page-margin*1.5 0 0 ;*/
	height: 100%;
	background-color: #fff;
	border: 1px solid #cdcdcd;
	display: inline-block;
	box-shadow: 2px 2px 6px #ededed;
	/*margin-bottom: -44px;*/
	/*padding: 1rem;*/
	/*margin: $page-margin / 2 0;*/
	&:hover {
		cursor: pointer;
		box-shadow: 2px 2px 6px #cdcdcd;
	}
}
.link-card a {
	width: 100%;
	height: 100%;
}
.column-inner.left {
	width: 40%;
}
.column-inner.right {
	width: 60%;
}
.img-resize {
	height: 100%;
	width: 100%;
	border-radius: 4px 4px 0 0;
}
.left {float: left;}
.right {float: right;}
.center {margin: 0 auto ; text-align: center;}
.clear {
	clear: both;
}
.text-wrap {
	padding: $page-margin;
}

.banner {
	width: 100%;
	display: inline-block;
	
	background-color: $color-yellow;
	h1 {
		/*display: block;*/
		/*float: left;*/
		padding: $page-margin;
		margin: 0;
		/*line-height: 40px;*/
	}
}

/*===========================================================
#buttons
===========================================================*/

.button-container {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.buttons {
	max-width: 600px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.button a {
	@include transition;
	cursor: pointer;
	/*border-radius: 4px;*/
	text-align: center;
}
.action-button {
	margin: 0 auto;
	display: inline-block;
}
.action-button a {
	@include transition;
	padding: .75rem 1rem;
	display: block;
	color: #000;
	font-weight: bold;
	background-color: $button-action;
	&:hover {
		background-color: black;
		color: $button-action;
	}
}
.styled-button {
	display: inline-block;	
	margin-top: $page-margin;
	border: 1px solid $primary-color;
}
.styled-button a {
	display: block;
	padding: .75rem 1rem;
	&:hover {
		background-color: $primary-color;
	}
}
.button-large {
	font-size: 24px;
	padding: $page-margin;
	text-transform: uppercase;
}
.button-wrap {
	display: inline-block;
	width: 100%;
}

/*===========================================================
#header
===========================================================*/

#header {
	position: fixed;
	top: 0;
	width: 100%;
	height: $header-height;
	border-bottom: 1px solid #ddd;
	background-color: #fff;
	z-index: 1;
}
.header-push {
	height: 60px;
}
#logo {
	float: left;
}
#logo h1 {
	text-indent: -9999px;
	background: url(../images/logo.jpg) no-repeat top left;
	background-size: contain;
	height: 24px;
	width: 306px;
	margin-top: ($header-height - 24px) / 2;
}

/*===========================================================
#page
===========================================================*/

.page-view {
	text-align: center;
	width: 100%;
	margin: 100px auto 0;
	display: inline-block;
}
/*.page-view h1 {
	text-align: left;
	max-width: 600px;
	font-size: 2rem;
	font-weight: 400;
	margin-bottom: 3rem;
	em {
		font-weight: 800;
		font-style: italic;
	}
}
.page-view h2 {
	max-width: 600px;
	text-align: left;
	font-size: 1rem;
	font-weight: bold;
	margin-bottom: 1rem;
}*/
.page-view p {
	max-width: 600px;
	text-align: left;
	em {
		font-style: italic;
	}
}
/*.page-view span {
	display: block;
	text-align: right;
	font-size: 12px;
}*/
.page-view img {
	width: 100%;
	height: 100%;
}
article.post {
	max-width: 600px;
	margin: 0 auto;
	/*margin-bottom: $page-margin;*/
	/*padding: 0 $page-margin / 2;*/
/*	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;*/
	background-color: white;
}
.page-view {
	/*background-color: white;*/
}
/*===========================================================
#text
===========================================================*/

h1 {
	margin-bottom: 1rem;
	text-align: center;
	font-weight: 800;
	font-size: 1.5rem;
}
h1.left {
	float: none;
	text-align: left;
}
h2 {
	font-size: 1.5rem;
	margin-bottom: 1rem;
	font-weight: bold;
}
h3 {
	font-size: 1rem;
	font-weight: bold;
	margin-bottom: 2rem;
	text-align: center;
	/*font-family: 'Roboto Slab', serif;*/
}
h4 {
	font-size: 1.5rem;
	font-weight: bold;
	/*margin-top: -48px;*/
	margin-bottom: 1rem;
	/*font-family: 'Roboto Slab', serif;*/
}
p {
  margin-bottom: 1em;
}
.about p {
	font-size: 18px;
	line-height: 24px;
}
.about ul {
	margin-bottom: $page-margin;
}
.about ul li {
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 4px;
}
.about .row {
	margin-bottom: $page-margin;
}
.about .row a {
	color: #000;
	font-weight: 400;
	text-decoration: underline;
}
.strong, strong {
  font-weight: 800;
}
a {
	color: #666;
	text-decoration: none;
}
.center {
	text-align: center !important;
}
p a {
	text-decoration: underline;
}
.button.right {
	margin-left: 2rem;
}
h2.strong {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 1rem;
	color: #000;
}

/*===========================================================
#components
===========================================================*/

.mail-box {
	padding: 24px;
	border: 1px solid #ddd;
	margin: -46px auto 0 -124px;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 200px;
	text-align: center;
}
footer {
	display: block;
	/*margin-top: -48px;*/
	padding: 1rem $page-margin;
	border-top: 1px solid #ddd;
}
.chevron-up {
	display: block;
	margin: 0 auto 2px auto;
}
hr {
	margin: 0 0 $page-margin 0;
	border-top: 1px solid #ddd;
	border-bottom: none;
}
#myBtn {
  @include transition;
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  
  border: 1px solid #ccc;
  color: #ccc; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: .5em .75em; /* Some padding */
  border-radius: 6px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

/*===========================================================
#sidebar
===========================================================*/

#sidebar {
	width: 300px;
	background-color: #222;
	display: inline;
	float: left;
	margin-top: 60px;
}
#sidebar h2 {
	color: #fff;
	padding: 23px 22px;
	font-size: 16px;
	font-weight: bold;
}

#sidebar li, .nav-buttons li {
	margin: 0 0 -1px 0;
	display: block;
	float: none;
	@include transition;
	font-size: .875rem;
	font-weight: 400;

}
#sidebar li a:hover {
	background-color: #444;
}
#sidebar li.selected {
	/*border-left: .3rem solid #444;*/
	/*padding-left: .7rem;*/
	background-color: #333;
	&:hover {
		background-color: #444;
	}	
}
#sidebar hr {
	margin-bottom: 1px;
	border-top: 1px solid #5d5d5d;
}
#sidebar li a {
	display: block;
	padding: 16px 24px;
	color: #c4c4c4;
}

#sidebar a {
	color: #fff;
	text-decoration: none;
}

/*===========================================================
#nav
===========================================================*/

nav {
	float: right;
}
nav li {
	list-style: none;
	line-height: 18px;
	margin-top: ($header-height - 18px) / 2;
	margin-left: 36px;
	display: inline;
	float: left;
}
nav li a {
	color: #515151;
	text-decoration: none;
}
nav li a:hover {
	text-decoration: underline;
}
.nav-buttons {
	display: none;
}
.nav-buttons {
	display: flex;
	justify-content: stretch;
}
.nav-button {
	@include transition;
	padding: 3rem 0;
	color: #000;
	background-color: #ffea2a;
	width: 100%;
	text-align: center;
	float: left;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 1.5rem;
	border-radius: 3px;
	&:hover {
		background-color: #fdab55;
		border: 1px solid #fdab55;
		color: #fff;
	}
}

/*===========================================================
#offcanvas
===========================================================*/

#offcanvas {
	background-color: #222;
	height: auto;
	min-height: 100%;
	z-index: 100;
	position: absolute;
	right: 0;
	width: 250px;
	margin-right: -260px;
	@include transition; 	
}
#offcanvas.active {
	margin-right: 0px;
}
.inner-wrap.active, #header.active {
	left: -250px;
}

#offcanvas li {
	margin: 0 0 -1px 0;
	display: block;
	float: none;
	@include transition;
}
#offcanvas li:hover {
	background-color: #444;
}
#offcanvas hr {
	margin-bottom: 1px;
	border-top: 1px solid #5d5d5d;
}
#offcanvas li a {
	display: block;
	padding: 12px 24px;
	color: #fff;
}
#offcanvas li.secondary {
	padding-left: 1rem;
}
#offcanvas li.secondary a {
	color: #c4c4c4;
}

/*===========================================================
#chapter-index
===========================================================*/

.chapter-index {
	width: 100%;
}
.chapter-index .row {
	margin-left: $page-margin;
	margin-right: $page-margin;
}
.chapter-panel {
	display: inline-block;
	width: 100%;
}
.chapter-panel-image {
	display: inline;
	float: left;
	margin: 0 $page-margin $page-margin 0;
}
.chapter-panel p {
	display: inline;
	float: left;
	max-width: 340px;
}
.section {
	height: 280px;
	width: 280px;
	display: inline;
	float: left;
}
.chapter-panel img {
	border-radius: 4px;
}
.chapter-panel .section img:hover {
	@include transition;
	height: 286px;
	width: 286px;
	margin-top: -3px;
	margin-left: -3px;
}

/*===========================================================
#media-queries
===========================================================*/

@media only screen and (max-width : 1055px) {
	.chapter-index {
		max-width: 100%;
	}
	.page-wrap {
		padding: 0 $page-margin * 3;
	}	
}
@media only screen and (max-width : 960px) {
	.flex-wrap {
		display: initial;
	}
	.page-wrap {
		padding: 0 $page-margin;
	}
	.page-view img {
		max-width: 600px;
	}
	#sidebar {
		width: 100%;
		h2 {
			line-height: 14px;
		}
		hr {
			display: none;
		}
		li {
			display: inline;
			float: left;
			height: 60px;
			margin: 0;
			padding: 0;
		}
		.sidebar-links a {
			padding: 22px;
		}
	}
	#header nav ul li {display: none;}
	#header .offcanvas ul li {display: block;}
	#hamburger {
	    cursor: pointer;
	    display: inline;
	    float: right;
	    padding: 18px 0;
	    width: 1.5em;
	}
	#hamburger div {
	    background-color: #000;
	    border: 1px solid #000;
	    margin-top: 0.375em;
	    width: 90%;
	}
	.column-outer {
		width: 100%;
		display: block;
		padding-bottom: 1rem;
	}	
	.nav-buttons {
		display: block;
		justify-content: initial;
	}
	.nav-button {
		display: block;
		width: 100%;
		text-align: center;
		padding: .5rem 0;
		margin: 0 0 6px 0;
	}
	.page-wrap.about {
		max-width: 80%;
		margin: 0 auto;
	}	
}
/*
@media only screen and (max-width : 768px) {
	.content-row {
		display: block;
	}	
	.column {
		width: 100%;
		margin: 0;
	}
}*/

@media only screen and (max-width : 660px) {
	#header {
		position: fixed;
		height: 50px;
	}
	.top {
		height: 72px;
	}
	#sidebar {
		margin-top: 50px;
	}
	.chapter-index {
		max-width: 100%;
	}
	.content-row {
		display: block;
	}		
	.column {
		width: 100%;
		margin: 0;
	}
	#logo h1 {
		max-width: 217px;
		max-height: 17px;
	}
	#hamburger {
		padding: 12px 0;
	}
	.page-view {
		margin-top: 72px;
	}
	.chapter-panel {
		text-align: center;
		/*max-width: 240px;*/
		/*display: inline-block;*/
		/*float: none;*/
		/*margin: $page-margin / 2 auto;*/
	}
	.bg-wrap {
		margin-top: 50px;
	}
	.bg-inner-wrap {
		padding: 0;
		margin-top: -50px;
	}
	.column, .column-inner.left, .column-inner.right {
		width: 100%;
		display: block;
		padding-bottom: 1rem;
	}	
	.page-wrap.about {
		max-width: 100%;
		margin: 0 auto;
	}	
/*	.text-wrap {
		padding: 0;
	}*/
	.button-container .button a {
		font-size: 24px;
		padding: .75rem;
	}
	.bg-inner-wrap {
		background: url('../images/banner-6-4-7.gif') no-repeat top center;
		background-size: cover;
		min-height: 300px;
	}
	.bg-inner-wrap img {
		display: none;
	}
	#myBtn {
		bottom: 12px; /* Place the button at the bottom of the page */
		right: 12px; /* Place the button 30px from the right */
		border: none; /* Remove borders */
		outline: none; /* Remove outline */
		background-color: #fff !important;
		border: 1px solid #ccc;
		color: #ccc; /* Text color */
		cursor: pointer; /* Add a mouse pointer on hover */
		padding: 6px 8px; /* Some padding */
		border-radius: 6px; /* Rounded corners */
		font-size: 12px; /* Increase font size */
		text-transform: uppercase;
	}	

	.portrait {
	width: 124px;
	border-radius: 6px;
	margin-right: $page-margin / 2;
	margin-bottom: $page-margin / 2;
		img {
			height: 124px;
			width: 124px;
		}

	}
	.about p {
		font-size: 16px;
		line-height: 20px;
	}
	.mobile-hide { display: none; }
}	




