<footer id="footer">
	<div class="button-wrap">
		<div class="button right"><%= link_to "Tumblr", "http://expertlawncare.tumblr.com/", :target =>'_blank' %></div>
		<div class="button right"><%= link_to "Instagram", "https://www.instagram.com/ohioisforsale/", :target =>'_blank' %></div>
		<div class="button right"><%= link_to "Patreon", "https://www.patreon.com/bePatron?u=18654179", :target =>'_blank' %></div>
	</div>  
</footer>