---
title: 'Chapter 1 | '
---

<div class='page-wrap'>
	<div class='row'>

    
    <div class='page-view ohio-one'>

      <div class="container">

        <article class="post">        
          <%= image_tag '/images/pages/chapter-one/ohio_page' + page_number + '_gray.gif' %>
        </article>          
      </div>        
        
    </div>

    <div class="buttons">
      <div class="button right">  
        <%= link_to 'Next Page', next_page, :class => "pagination pagination__next" %>
      </div>  
   </div>      

  </div>  
</div>      

