---
title: 'Chapter 10 | '
---

<div class='page-wrap'>
	<div class='row'>
		<div class='page-view ohio-ten'>
      <% link_to '01.html' do %>
			<%= image_tag '/images/cover-large-10.png' %>
      <% end %>
    </div>  
  
    <div class="buttons">
      <div class="button right">  
        <%= link_to 'Next Page', '01.html' %>
      </div>  
    
    </div>  
    <div class="preload"><%= link_to '', '01' %></div>
  </div>  
</div>      

