---
title: 'Chapter 1 | '
---

<div class='page-wrap'>
	<div class='row'>

      <div class='page-view vl-one'>
      <% link_to next_page + '.html' do %>
      <%= image_tag '../images/pages/vacationland-one/vacationland_' + page_number + '_gray.jpg' %>
      <% end %>
    </div>  
  <div class="buttons">
    <div class="button left">
    <%= link_to 'Previous Page', prev_page + '.html' %>
    </div>
    <div class="button right">  
      <%= link_to 'Next Page', next_page + '.html' %>
    </div>  
  </div> 
  </div> 
  <div class="preload"><%= link_to '', next_page %></div>
</div>      

