---
title: 'About | '
---

.page-wrap.about
	%h1.strong.left About Ohio Is For Sale
	%p
		(Read about the current work-in-progress 
		= link_to 'here.', '/work-in-progress.html'
		)

	%p Ohio Is For Sale is a comic I started in 2012 based on some characters I invented back in high school. I serialized a bunch of self-published issues before it got picked up by Alternative Comics, and later Iron Circus.

	%p Ohio Is For Sale is the title of the first collection and also the name of the whole overall universe, like the way there are a lot of different Star Trek movies and shows and stuff, but it’s still all just Star Trek. Anyway, Ohio Is For Sale is a bunch of loosely connected stories about a group of animal people in their twenties and teens who are themselves loosely connected to each other by proximity, temperament, or a shared inability to overcome their own personal failings and make something of themselves. The characters in these stories are hapless losers, hopeless dreamers, drunks and druggies. 

	%p The whole thing takes place around 1996-97 in a small, made-up town called Piney Bluff in northeastern Ohio. One of the first things people ask me when they see my comics is if I’m from Ohio, and the answer is no, I’m not, I’m from central Connecticut. The Rust Belt itself doesn’t quite run that far east, but the area I grew up in was filled with plenty of abandoned, collapsing factory buildings that I think are sort of emblematic of the post-industrial downward collapse of that whole area of the country since like the 1970s.

	%h1.strong.left Characters

	= partial 'partials/character'

