---
title: ""
---

<div class='page-wrap'>
	<div class='row'>

    
    <div class='page-view'>

      <div class="container">

        <article class="post">        
          <%= image_tag '/images/pages/' + chapter + '/' + page_number + '.jpg' %>
        </article>          
      </div>        
        
    </div>

    <div class="buttons">
      <div class="button right">  
        <%= link_to 'Next Page', next_page, :class => "pagination pagination__next" %>
      </div>  
   </div>     

   

  </div>  
</div>      

