---
title: 'The Lonesome Era | '
---

<div class='page-wrap'>
  <div class='page-view'>
    <div class='row'>
     
      <div class="button action-button full-width">
      <%= link_to "Buy The Book", "https://ironcircus.com/?product=the-lonesome-era", :target=>'_blank' %>  
     </div>

      <div><%= image_tag '/images/lonesome_era_cover_large.gif' %></div>
      
      <div class="container">
        <article class="post">
        </article>
      </div>        

      <div class="buttons">
        <div class="button right">  
          <%= link_to 'Next Page', '1.html', :class => "pagination pagination__next" %>
        </div>  
      </div>  

      <div class="button styled-button">
        <%= link_to 'More Comics', '/chapterindex.html'%>
      </div>      
       
    </div>    
  </div>  
</div>   