---
title: 'Chapter 4 | '
---

<div class='page-wrap'>
  <div class='page-view ohio-three'>
    <div class='row'>

      <%= image_tag '/images/cover-large-4.jpg' %>
      
      <div class="container">
        <article class="post">
        </article>
      </div>        

      <div class="buttons">
        <div class="button right">  
          <%= link_to 'Next Page', '1.html', :class => "pagination pagination__next" %>
        </div>  
      </div>  

      <div class="button styled-button">
        <%= link_to 'Next Chapter', '/chapter-five/index.html' %>
      </div>
       
    </div>    
  </div>  
</div>

